
/* sticky part of navigation bar */
.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
/* question */
.box-1{
    margin: auto;
    width: 50%;
    text-align: center;
}
.question-box{
    display: block;
    border: 10px #FEC4C4;
    padding: 10px;
    border-style: solid;
}

/* .question{
    margin: auto;
    width: 50%;
} */
#nextbutton{
    display: none;
}

#submitbutton{
    display: none;
}

/* member */
/* div{
    color: #3bf8a9;
    padding: 14px;
    border-style: solid;

} */
