
/* sticky part of navigation bar */
.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
/* question */
.box{

    margin: auto;
    width: 50%;
    text-align: center;
}
/* .question-box{
    display: block;
    border: 10px #FEC4C4;
    padding: 10px;
    border-style: solid;
} */

/* .question{
    margin: auto;
    width: 50%;
} */
#nextbutton{
    display: none;
}

#submitbutton{
    display: none;
}

/* quiz */
/* div{
    color: #3bf8a9;
    padding: 14px;
    border-style: solid;

} */

#results{
    display: none;
}
#name{
    display: none;
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 20px;
}
#results{
    display: none;
}
#disappear{
    padding: 14px;
    margin: auto;
    width: 50%;
}
#estp-pic{
    display: none;
}

#estj-pic{
    display: none;
}
#estj-pic{
    display: none;
}
#esfp-pic{
    display: none;
}
#esfj-pic{
    display: none;
}
#entp-pic{
    display: none;
}
#entj-pic{
    display: none;
}
#enfp-pic{
    display: none;
}
#enfj-pic{
    display: none;
}
#istp-pic{
    display: none;
}
#istj-pic{
    display: none;
}
#isfp-pic{
    display: none;
}
#isfj-pic{
    display: none;
}
#intp-pic{
    display: none;
}
#intj-pic{
    display: none;
}
#infp-pic{
    display: none;
}
#infj-pic{
    display: none;
}
#result-content{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0;
}
.input-row{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}
/* personality */
.box-container{
    width: 880px;
    min-height: 500px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-container .box{
    position: relative;
    width: 200px;
    height: 200px;
    background: black;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.box-container .box .imgBox{
    position: relative;
    overflow: hidden;
}
.box-container .box .imgBox img{
    max-width: 100%;
    transition: transform 2s;
}
.box-container .box:hover .imgBox img{
    transform: scale(1.2);
    
}
.box-container .box .details{
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: #0e0d0d;
    transform: scaleY(0);
    transition: transform .5s;
}
.box-container .box:hover .details{
    transform: scaleY(1);
}
.box-container .box .details .content{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: white;
}
.box-container .box .details .content h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;

}
.box-container .box .details .content p{
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
    color: white;

}