/* navigation bar */
.navbar-links{
    overflow: hidden;
    background-color: #c0fae2;
}

.nav li a{
    text-decoration: none;
    list-style-type: none;
    display: block;
    padding: 8px;
    color: black;
}

.nav li:hover{
    background-color: #3bf8a9;
    border-radius: 5px;
}
ul.nav{
    margin: 0;
    padding: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.navbar-links li{
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;

}
/* sticky part of navigation bar */
.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}

/* question */
.box-1{
    margin: auto;
    width: 50%;
    text-align: center;
}
.question-box{
    display: block;
    border: 10px #FEC4C4;
    padding: 10px;
}

/* .question{
    margin: auto;
    width: 50%;
} */
#nextbutton{
    display: none;
}

#submitbutton{
    display: none;
}